:root {
  --devices-width: min(20vw, 200px);
  --canvas-width: calc(100vw - var(--devices-width));
  --main-background-color: blanchedalmond;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--main-background-color);
  overflow: hidden;
}

#devices {
  background-color: rgba(0, 0, 0, 0.281);
  height: 100%;
  width: var(--devices-width);
}

#canvas {
  position: absolute;
  left: var(--devices-width);
  height: 100%;
  width: var(--canvas-width);
  top: 0px;
}

#router {
  width: var(--devices-width);
}

.router {
  width: calc(var(--devices-width) / 2);
  height: auto;
}

#lines {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

#caution {
  position: absolute;
  bottom: 0px;
  text-align: center;
  width: 100%;
}

.line {
  text-align: center;
  z-index: -1;
}

.line::after {
  content: attr(data-weight);
}

.router-wrapper {
  text-align: center;
  position: relative;
  background-color: burlywood;
}

.router-wrapper > img {
  background-color: var(--main-background-color);
}

p {
  line-height: 0px;
}
