:root {
  --devices-width: 20vw;
  --canvas-width: calc(100vw - var(--devices-width));
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  background-color: blanchedalmond;
}

#devices {
  background-color: rgba(0, 0, 0, 0.281);
  height: 100%;
  width: 20vw;
}

#canvas {
  position: absolute;
  left: var(--devices-width);
  height: 100%;
  width: var(--canvas-width);
  top: 0px;
}

#router {
  width: var(--devices-width);
}

.router {
  width: calc(var(--devices-width) / 2);
  height: auto;
}

#lines {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

#caution {
  position: absolute;
  bottom: 0px;
  text-align: center;
  width: 100%;
}
